:root {
    --bs-primary: #00C2DE;
}

.btn-outline-primary {
    background-color: #00C2DE !important;
}

.btn-primary {
    background-color: #00C2DE !important;
}

.row .card {
    width: 18rem;
}

/*.btn.btn-outline-primary:hover {
    color: #1896bd;
}*/