:root {
    --bs-primary: #00C2DE;
}

.btn-outline-primary {
    background-color: #00C2DE !important;
}

.btn-primary {
    background-color: #00C2DE !important;
}

.row .card {
    width: 20rem;
}

.kosik {
    height: 10rem;
}

.cursor {
    cursor: pointer;
}

.pfp {
    height: 50px;
    width: 75px;
    margin-top: 10px;
}

.tlacitko {
    width: 18rem;
}

/*.btn.btn-outline-primary:hover {
    color: #1896bd;
}*/